html {
    font-size: 1vmin;
    color: #151515;
}

html, body, body>div {
    height:100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
  background-image: url(images/texture.jpg);
  background-position: center;
  background-size: cover;
}

body>div {
    display: flex;
    flex-direction: column;
    opacity: 0.6;
}

@media (orientation: landscape) {
    body>div {
        flex-direction: row;
    }
    #separator {
        width: 1rem;
    }
}
@media (orientation: portrait) {
    #separator {
        height: 1rem;
    }
}

#separator {
    background-color: #151515;
    flex-grow: 0;
}

.player {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-grow: 2;
    height: 100%
}

.player .total {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 30rem;
    font-weight: bolder;
}

.lifeBtnContainer {
    display: flex;
    flex-direction: column;
    margin: 5rem;
}

.lifeBtn {
    padding:0;
    width: 15rem;
    height: 15rem;
    font-size: 5rem;
    background-color: rgba(0,0,0,1);
    border-radius: 15%;
    box-shadow: 0 0 2rem rgba(0,0,0,.8);
    border: none;
    color: white;
}

.lifeBtn + .lifeBtn {
    margin-top: 5rem;
}

.rotate180 {
    transform: rotate(180deg);
}

.color-1 {
    background-color:darkgreen ;
}

.color-2 {
    background-color:darkred ;
}

.color-3 {
    background-color:darkblue ;
}

.color-4 {
    background-color:darkmagenta ;
}

.color-5 {
    background-color:orangered ;
}

.color-6 {
    background-color:darkcyan ;
}

.color-7 {
    background-color:darkgoldenrod ;
}

.color-8 {
    background-color: crimson;
}
